<p id="notice"><%= notice %></p>

<h1>Listing Patient Profile Allergies</h1>

<table>
  <thead>
    <tr>
      <th>Allergy Name</th>
      <th>Reaciton</th>


      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @patient_profile_allergies.each do |patient_profile_allergy| %>
      <tr>

        <td><%= patient_profile_allergy.allergy_name%></td>
        <td><%= patient_profile_allergy.reaction%></td>
        <td><%= link_to 'Show', patient_profile_allergy %>
        <%= link_to 'Edit', edit_patient_profile_allergy_path(patient_profile_allergy) %>
        <%= link_to 'Destroy', patient_profile_allergy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient profile allergy', new_patient_profile_allergy_path %>


