<p id="notice"><%= notice %></p>


<div class="container">

 <div class="row">
    <h2>Surgery and Hospitolization Information</h2>
    <div class="col-sm-8 col-md-8 col-md-offset-2">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Allergy Name</th>
        <th>Reaciton Description</th>

      </tr>
      </thead>
      <tbody>

          <tr>
            <td><%= @patient_profile_allergy.allergy_name%></td>
            <td><%= @patient_profile_allergy.reaction%></td>


          </tr>



      </tbody>
    </table>
</div>
  <div class="col-sm-6">

    <%= link_to 'Cancel', patient_profile_allergies_path ,class: "btn  btn-warning "%>
  </div>
   <div class="col-sm-6">

    <%= link_to("Edit", edit_patient_profile_allergy_path(@patient_profile_allergy), class: "btn  btn-primary ") %>

  </div>

</div>
</div>


