<div class="container-fluid">







<%= form_for @patientimmunization do |f| %>




      <!-- first row-->
      <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-6">



                        <%= f.text_field :administrator, class: "panel panel-default",placeholder: "Administrator" %>


                       <%= f.text_field :date_administered,class: "panel panel-default",placeholder: "Administrated Date" %>




                          <%= f.text_field :ndc,class: "panel panel-default",placeholder: "NDC code" %>


                          <%= f.text_field :notes,class: "panel panel-default" ,placeholder: "Notes"%>



            <%= f.text_field :reimmunization_due_date ,class: "panel panel-default",placeholder: "Reimmunization Date"%>



              <%= f.text_field :cpt_code,class: "panel panel-default",placeholder: "CPT Code" %>



              <%= f.text_field :cvx_codx,class: "panel panel-default",placeholder: "CVX Code" %>


              <%= f.text_field :hcpcs_code,class: "panel panel-default" ,placeholder: "HCPCS Code"%>

            </div>












      </div>
      <div class="row">



        <div class="col-xs-12 col-sm-8 col-md-4 col-md-offset-1">
        <%= f.submit "Sumbit", class: "btn btn-info "%>


        <%= link_to("Cancel", patient_immunizations_path(f), class: "btn  btn-warning ") %>

      </div>


      </div>


    <%end %>


</div>