<!-- Main content -->
<div class="container">

<div class="row">

    <!--this is the code for the table listing the patientimmunization information-->
	
 <div class="col-sm-12 col-md-8 col-md-offset-2">
			<h2>Immunization History</h2>
           <br/></br>



              <table class="table table-striped table-hover table-responsive">
    <thead >
      <tr class="success">
        <th>Administrator Name</th>
        <th>Administered Date </th>
        <th>Repatientimmunization Due Date</th>
        <th>Notes</th>
        <th>Views</th>
      </tr>
    </thead>
    <tbody>
            <% @patientimmunizations.each do |i|%>
      <tr>

              <td><%=i.administrator%></td>
              <td><%=i.date_administered%></td>
              <td><%=i.reimmunization_due_date%></td>
              <td><%=i.notes%></td>

              <td><%= link_to "View Details", patient_immunization_path(i)%></td>

       </tr>
          <%end%>
    </tbody>
  </table>

						<div class="row">
							<div class="col-xs-12">
								<%= link_to("Add A New Immunication Record", new_patient_immunization_path, class: "btn btn-block btn-info ") %>
							</div>
							
						</div>

</div>
</div>
</div>
