<%- if controller_name != 'sessions' %>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6">
  <%= link_to("Log in", new_session_path(resource_name), class: "btn btn-block btn-warning") %><br />
      </div>
    </div>

<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6">
  <%= link_to "New user? Click me to sign up", new_registration_path(resource_name),class: "btn btn-block btn-success form-control"  %><br />
      </div>
    </div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6">
  <%= link_to "Forgot your password? Click me to reset", new_password_path(resource_name), class: "btn btn-block btn-danger" %><br />
      </div>
    </div>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6">
  <%= link_to "Didn't receive confirmation instructions? Click me to resend", new_confirmation_path(resource_name) %><br />
      </div>
    </div>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-6">
  <%= link_to "Didn't receive unlock instructions? Click me to reset", new_unlock_path(resource_name) %><br />
    </div>
    </div>
<% end -%>

<%- if devise_mapping.omniauthable? %>
    <div class="row">
      <div class="col-xs-12 col-md-3 col-lg-3">
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
        </div>
        </div>
  <% end -%>
<% end -%>
