<h1>Intake#index</h1>
<p>Choose the intake form you want to finish </p>
<p>Create New </p>

<ul>
  <li> <%= link_to("Surgery and Hospitalization", new_patient_profile_procedures_hospitolization_path, class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Diagosed conditions", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Family history", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Social history", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Immunization and TB skin test", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Allergies", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Medications", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Tests", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Current or Recent Symptoms", "#", class: "btn btn-block btn-warning ") %></li>


</ul>


<p>Edit </p>

<ul>
  <li> <%= link_to("Surgery and Hospitalization", edit_patient_profile_procedures_hospitolization_path(@patient), class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Diagosed conditions", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Family history", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Social history", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Immunization and TB skin test", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Allergies", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Medications", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Tests", "#", class: "btn btn-block btn-warning ") %></li>
  <li> <%= link_to("Current or Recent Symptoms", "#", class: "btn btn-block btn-warning ") %></li>


</ul>


<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<%= link_to("Back to Home Page", patient_home_path(@patient), class: "btn btn-block btn-warning ") %>
