








<h1>This page is for showing the specific patientmedication record </h1>


  	
 
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <i class="fa fa-search-plus pull-left icon"></i>
                <h2>Immunization Information</h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4 pull-left">
                    <div class="panel panel-default height">
                          
                            <div class="panel-heading">Basic Information</div>

                                 <table class="table table-hover ">
    
                                        <tbody>
                                          <tr class="success">
                                            <td>Administrator:</td> 
                                            <td><%=@patientmedication.administrator%></td>
                                          </tr>
                                          <tr class="danger">
                                            <td>Date Administrated:</td>  
                                            <td><%=@patientmedication.date_administered%></td>                      
                                          </tr>
                                          <tr class="info">
                                            <td>Deadline for Repatientmedication</td>  
                                            <td><%=@patientmedication.repatientmedication_due_date%></td                                        
                                          </tr>
                                        </tbody>
                                    </table>
                                    
                              
                    </div>
              </div>
              
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Detailed Information</div>
                                                <table class="table table-hover ">
    
                                        <tbody>
                                          <tr class="success">
                                            <td>NDC code:</td> 
                                             <td><%=@patientmedication.ndc%></td>
                                          </tr>
                                          <tr class="danger">
                                            <td>CPT code:</td>  
                                           <td><%=@patientmedication.cpt_code%> </td>                     
                                          </tr>
                                          <tr class="info">
                                            <td>CVX code:</td>  
                                            <td><%=@patientmedication.cvx_codx%></td>                                        
                                          </tr>
                                          <tr class="warning">
                                            <td>HCPCS code</td>  
                                            <td><%=@patientmedication.hcpcs_code%></td>                                         
                                          </tr>
                                        </tbody>
                                      </table>

                                                
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 pull-right">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Comments</div>
                        <div class="panel panel-default">
                          <div><%=@patientmedication.notes%></div>
                         
                         </div>
                        
                    </div>
                </div>
            </div>
             <div class="row">
             	<div class="col-sm-2">
  	
                <%= link_to "Edit", edit_patientmedication_path(@patientmedication), class: "btn btn-block btn-primary" %>
            </div>
       <div class="col-sm-2">
          <%= link_to 'Delete', patientmedications_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-block btn-danger"  %>
  	
      </div>
  
  <div class="col-sm-2">

     <%= link_to("Cancel", patientmedications_path, class: "btn btn-block btn-warning ") %>
  	
  </div>
             </div>
        </div>
    </div>
    


  
