<div class="navbar-header">
  <p class="pull-left visible-xs" style="margin-left:1%; margin-top: 8px;">
    <a href="#" data-toggle="offcanvas"><span style="font-size:30px;" class="glyphicon glyphicon-align-justify"></span></a>
  </p>
  <a href="/index"><!-- <img src="/so_assets/Healthy_Athlete_System.png" style="width: 300px; margin-top: 3%;"> --> <h1 style="margin-top: 0px;">Predictive Population Risk Stratification Enterprise</h1> </a>
</div>

<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <!-- <li><%#= link_to t(:home), index_path %></li> -->
    <% if user_signed_in? %>

      <% if current_user.role == "patient" %>  
          <li><%= link_to(t(:patient)+" "+t(:profile), myinfo_path )%></li>
      <% elsif current_user.role == "provider" %>
          <li><%= link_to t(:clinician)+" "+t(:profile), myinfo_path %></li>
      <% elsif current_user.role == "volunteer" %>
          <li><%= link_to t(:volunteer)+" "+t(:profile), myinfo_path %></li> 
      <% elsif current_user.role == "doctor"%>
          <li><%= link_to 'Doctor Profile', myinfo_path %></li> 
      <% elsif current_user.role == "researcher"%>
          <li><%= link_to t(:researcher)+" "+t(:profile), myinfo_path %></li> 
      <% elsif current_user.role == "coach"%>
          <li><%= link_to t(:coach)+" "+t(:profile), myinfo_path %></li>
      <% elsif current_user.role == "accredit"%>
          <li><%= link_to t(:accredit)+" "+t(:profile), myinfo_path %></li>
      <% elsif current_user.role == "policy_maker"%>
          <li><%= link_to t(:policy_maker_information), myinfo_path %></li>
      <% end %> <!-- end second if -->
    <% else %> 
      <!-- do nothing -->
    <% end %><!-- end first if -->

    <li><%= link_to t(:events), event_index_path %></li>
    <li><a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><%=t(:Language)%><b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
         <li><%= link_to 'English', translate_path(:language=>:en) %></li>
         <li><%= link_to 'Spanish', translate_path(:language=>:es) %></li>
      </ul>
    </li>
    
<% if user_signed_in? %>
    <li><%= link_to t(:logout), destroy_user_session_path, :method=>'delete' %></li>
<% end %>

    <li><a data-toggle="modal" href="#help"><%=t(:help)%></a></li>
  </ul>
</div>

<% content_for :place_for_modal do %>
    <div class="modal fade" id="help">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%= t(:help) %></h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 position-center">
              <span class="glyphicon glyphicon-phone-alt" style="font-size:100px;"></span>    
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <p><%=t(:help_statement1)%></p>
              <p><%=t(:help_statement2)%></p>
              <p><%=t(:Phone)%>: 571-765-2658</p>  
              <p>Email: <a href="mailto:HAS-Support@theeagleforce.net">HAS-Support@theeagleforce.net</a></p>
              <legend>Reference Guide</legend>
              <div class="row">
                <div class="col-sm-12 col-md-6"><a href="/report/IPHR_Quick_Guide_Athlete.pdf" >IPHR Quick Guide For Athlete</a><br></div>
                <div class="col-sm-12 col-md-6"><a href="/report/IPHR_Quick_Guide_Clinician.pdf">IPHR Quick Guide For Clinician</a><br></div>
                <div class="col-sm-12 col-md-6"><a href="/report/IPHR_Quick_Guide_Volunteer.pdf">IPHR Quick Guide For Volunteer</a><br></div>
                <div class="col-sm-12 col-md-6"><a href="/report/Volunteer.pdf">Volunteer Training Guide</a><br></div>
                <div class="col-sm-12 col-md-6"><a href="/report/Secure Collaboration Gateway.pdf">Secure Collaboration Gateway</a><br></div>
                <div class="col-sm-12 col-md-6"><a href="/report/Policy Maker and Researcher.pdf">Policy Maker and Researcher</a><br></div>
                <div class="col-sm-12 col-md-6"><a href="/report/Global.pdf">Global Training Guide</a><br></div>
                <div class="col-sm-12 col-md-6"><a href="/report/Clinician.pdf">Clinician Training Guide</a><br></div>
                <div class="col-sm-12 col-md-6"><a href="/report/Accreditation.pdf">Accreditation Training Guide</a><br></div>
                <!-- <div class="col-sm-12 col-md-6"><a href="/report/ss-5.pdf">Application for a Social Security Card</a><br></div> -->
              </div>
              
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%=t(:close)%></button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
<% end %>

