<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Project" %>">
	<title><%= content_for?(:title) ? yield(:title) : "Predictive Population System" %></title>
	<%= include_gon %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "piwik" %>
	<link rel="shortcut icon" href="/efhs.ico"/>
	<%= csrf_meta_tags %>
	<%= yield(:head) %>
</head>

<body class="skin-blue" ng-app="healthCareApp" ng-controller="healthCarePatientCtrl">
	<div class="wrapper">
        <header class="main-header">
            <a href="../index.html" class="logo">
                <h4>Provider View</h4>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
              <div class="user-panel">
                <div class="pull-left image">
                </div>
                <div class="pull-left info">
                  <p><h3><%="Hello, #{current_user.prefix} #{current_user.fname} #{current_user.lname}" %></h3></p>
                  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <div class="form-group">
                    <ul class="sidebar-menu">
                        <li class="treeview"><a href="<%= patient_prescriptions_path %>" ><span>Add Prescription</span></a></li>
                    </ul>
                    <label class="text-primary"><h2>Location</h2></label>
                    <select class="form-control" id="changeLocation">
                      <% @facilities_for_current_provider.each do |fcp| %>
                        <%= "<option value='#{fcp.id}'><h3>#{fcp.prvd_Organization_Name_Legal_Business_Name.to_s.downcase.capitalize}</h3></option>".html_safe %>
                      <% end %>
                    </select>
                  </div>
                </div>
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="small-box bg-aqua">
                      <h4 class="text-center"><strong>Total Patients</strong></h4>
                      <h3 class="text-center" ><strong><%= @patients_size %></strong></h3>
                    </div>
                </div><!-- ./col -->
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="small-box bg-blue">
                      <h4 class="text-center">Male / Female</h4>
                      <h3 class="text-center"><strong><%= @male_size.to_s+" / "+@female_size.to_s %></strong></h3>
                    </div>
                </div><!-- ./col -->
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="small-box bg-yellow">
                      <h4 class="text-center"><strong>Average Patients Overall</strong></h4>
                      <h3 class="text-center"><strong><%= @average_overall_score %></strong></h3>
                    </div>
                </div><!-- ./col -->
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="small-box bg-green">
                      <h4 class="text-center"><strong>Average Admissions Score</strong></h4>
                      <h3 class="text-center"><strong><%= @average_hospital_readmiss %></strong></h3>
                    </div>
                </div><!-- ./col -->
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1">
                    <label class="text-success"><h3>Patient Indentifier</h3></label>
                    <select multiple class="form-control">
                      <option><h3>1005889-Dominic J. Gionfriddo wefsdfwefweefw</h3></option>
                      <option><h3>1017593-Ina A. Tinklenberg</h3></option>
                      <option><h3>1014096-Santina A. Mele</h3></option>
                    </select>
                </div>
              </div>
            </section>
        </aside>
		<div class="content-wrapper">
            <%= yield(:right_side_content) %>
		</div>
		<footer>
			<div class="pull-right hidden-xs">
          	<b>Version</b> 1.0
        	</div>
        	<strong>Copyright &copy; 2014-2015 <a href="http://www.theeagleforce.net/">EagleForce</a>.</strong> All rights reserved.
		</footer>
	</div>	
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<%= yield(:place_for_modal) %>
</body>
</html>
