<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Project" %>">
	<title><%= content_for?(:title) ? yield(:title) : "Predictive Population System" %></title>
	<%= include_gon(:init => true) %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<!-- Pre requirement for Piwik Web Analystic -->
	<!-- Need to Change the Ip address to the server's address in piwik.js -->
	<!-- The belowed include the information about how to installing the Piwik on Linux -->
	<!-- http://www.howtoforge.com/installing-apache2-with-php5-and-mysql-support-on-debian-lenny-lamp -->
	<%= javascript_include_tag "piwik" %>
	<link rel="shortcut icon" href="/efhs.ico"/>
	<%= csrf_meta_tags %>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<%= yield(:head) %>
  <style type="text/css">
  .ui-autocomplete {
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 20px;
    } 
</style>
</head>

<body class="skin-blue" ng-app="healthCareApp" ng-controller="healthCarePatientCtrl">
	<div class="wrapper">
	    <!-- header logo: style can be found in header.less -->
        <header class="main-header">
            <a href="../index.html" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <h4>Predictive Population Risk</h4>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a> 
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li><%= link_to("Patient Profile", patient_surveys_url) %></li>
                        <li>
                            <a href="<%= appointments_path %>">Events</a>
                        </li>
                        <li>
                            <%= link_to 'Log Out', logout_path, data: { confirm: 'Are you sure?' }, class: "btn btn-block btn-info" %>
                        </li>
                        <li><a>Help</a></li>
					</ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<!-- /.sidebar -->            
            <section class="sidebar" style="height:auto;color:white">
                <div class="user-panel">
                    <div >
                        <%= image_tag("/img/small.jpg") %>
                        <!--<img src="../img/avatar3.png" class="img-circle" onerror: "if (this.src != '../default_image.png') this.src = '../default_image.png';"/>-->
                    </div>
                    <div >
                      <p><h3><%="Hello" %>, <%= current_user.fname %> <%= current_user.lname %></h3></p>
                      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                    <div id="datepicker"></div>
                </div>
            <%#= yield(:left_side_content) %>
            <div class="side-module box-grey-1">
            <h5 class="panel-title">Care Community</h5>
            </div>
            <div class="side-module">
                 <div class="row">
                      <div class="col-xs-6 col-md-4"><img src="/img/wysx.jpg" alt="..." class="img-rounded"></div>
                      <div class="col-xs-6 col-md-4"><img src="/img/ahmed.jpg" alt="..." class="img-rounded"></div>
                      <div class="col-xs-6 col-md-4"><img src="/img/jd.jpg" alt="..." class="img-rounded"></div>
                 </div>
                 <div class="row">
                      <div class="col-xs-6 col-md-4"><a href=sip:walter.dyer@theeagleforce.net>Call</a></div>
                      <div class="col-xs-6 col-md-4"><a href=sip:ryan.clagett@theeagleforce.net>Call</a></div>
                      <div class="col-xs-6 col-md-4"><a href=sip:walter.dyer@theeagleforce.net>Call</a></div>
                 </div>
            </div>

            <div class="side-module box-grey-1">
                 <h5 class="panel-title">Special Olympics Volunteer</h5>
            </div>
            <div class="side-module">
                 <div class="row">
                      <div class="col-xs-6 col-md-4"><img src="/sanhe.jpg" alt="..." class="img-rounded"></div>
                 </div>
                 <div class="row">
                      <div class="col-xs-6 col-md-4"><a href=sip:walter.dyer@theeagleforce.net>Call</a></div>
                 </div>
            </div>
            </section>
        </aside>
        <div class="image-nav col-md-offset-3">
            <br>
            <div class="row">
                <%= image_tag("/img/header_nav.jpg") %>
                <%#= image_tag("/img/sharecare_header.jpg") %>
            </div>
        </div>
        <div class="second-nav col-md-offset-3">
    			<!-- Sidebar user panel -->
          <style type="text/css">
          .treeview > a:hover {
             color: red !important;
          }
          .treeview > a {
             color: white !important;
          }
          .active > a {
              background-color: white !important;
              color: red !important;
          }
          </style>
    			<ul class="nav navbar-nav" style="color: white; font-size: 120%">
            <li class="treeview <%= is_active_controller('patient_provider_assignment')%>"><a href="<%= patient_provider_assignment_index_path %>" ><span>Home</span></a></li>
            <li class="treeview <%= is_active_controller('prescription_items')%>"><a href="<%= prescription_items_path %>" ><span>Medications</span></a></li>
            <li class="treeview <%= is_active_controller('patient_tests')%>"><a href="<%= patient_tests_path %>" ><span>Lab Test</span></a></li>
            <li class="treeview <%= is_active_controller('conditions')%>"><a href="<%= conditions_path %>"><span>Conditions</span></a></li>
            <li class="treeview <%= is_active_controller('immunizations')%>"><a href="<%= immunizations_path %>"><span>Immunizations</span></a></li>
            <li class="treeview <%= is_active_controller('reminders')%>"><a href="<%= reminders_path %>"><span>Clinical Assessments</span></a></li>
            <li class="treeview <%= is_active_controller('my_status_bodies')%>"><a href="<%= my_stauts_bodies_path %>"><span>Vitals</span></a></li>
            <li class="treeview <%= is_active_controller('patient_exercise_logs')%>"><a href="<%= patient_exercise_logs_path %>"><span>Exercise</span></a></li>
            <li class="treeview <%= is_active_controller('patient_dietary_logs')%>"><a href="<%= patient_dietary_logs_path %>"><span>Dietary</span></a></li>
    			</ul>
        </div>
        <div><br><br></div>
		<div class="content-wrapper">
            <!-- Content Header (Page header) --> 
            <section class="content">              
              <%= yield %>
            </section> 
            <!-- Main content -->
			<!-- /.content -->
		</div>
		<footer>
			<div class="pull-right hidden-xs">
          	<b>Version</b> 1.0
        	</div>
        	<strong>Copyright &copy; 2014-2015 <a href="http://www.theeagleforce.net/">EagleForce</a>.</strong> All rights reserved.
		</footer>
	</div>	
	<!-- Morris.js charts -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<!-- the below is to hold the modal in bootstrap so that there is no more display issue -->
	<!-- check  http://stackoverflow.com/questions/10636667/bootstrap-modal-appearing-under-background -->
	
<script>
$(function() {
    $("#datepicker").datepicker();
});
</script>

<!-- put the modal below  -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal-content">
    </div>
  </div>
</div>
<%= yield(:place_for_modal) %>
</body>
</html>
