<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Project" %>">
	<title><%= content_for?(:title) ? yield(:title) : "Predictive Population System" %></title>
	<%= include_gon(:init => true) %>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<!-- Pre requirement for Piwik Web Analystic -->
	<!-- Need to Change the Ip address to the server's address in piwik.js -->
	<!-- The belowed include the information about how to installing the Piwik on Linux -->
	<!-- http://www.howtoforge.com/installing-apache2-with-php5-and-mysql-support-on-debian-lenny-lamp -->
	<%= javascript_include_tag "piwik" %>
	<link rel="shortcut icon" href="/efhs.ico"/>
	<%= csrf_meta_tags %>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	<%= yield(:head) %>
</head>

<body class="skin-blue" ng-app="healthCareApp" ng-controller="healthCarePatientCtrl">
	<div class="wrapper">
	    <!-- header logo: style can be found in header.less -->
        <header class="main-header">
            <a href="../index.html" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                <h4>Predictive Population Risk</h4>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
					    <li>Test</li>
					</ul>
                </div> -->
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <%= yield(:left_side_content) %>	          
        </aside>

		<div class="content-wrapper">
            <!-- Content Header (Page header) -->                
            <%= yield(:right_side_content) %>
            <!-- Main content -->
			<!-- /.content -->
		</div>
		<footer>
			<div class="pull-right hidden-xs">
          	<b>Version</b> 1.0
        	</div>
        	<strong>Copyright &copy; 2014-2015 <a href="http://www.theeagleforce.net/">EagleForce</a>.</strong> All rights reserved.
		</footer>
	</div>	
	<!-- Morris.js charts -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<!-- the below is to hold the modal in bootstrap so that there is no more display issue -->
	<!-- check  http://stackoverflow.com/questions/10636667/bootstrap-modal-appearing-under-background -->
	<%= yield(:place_for_modal) %>
</body>
</html>
